
#logo{
    margin-left: 1em;
    width: 30px;
    height: 30px;
}

#creditTotal, #pointTotal{
    pointer-events: none;
    background-color: #caf9f9;
    color: black;
    
}

#point{
    pointer-events: none;
    display: none;
}

.total, #table, #pointDiv{
    display: none;
}

#gradeTotalDiv{
    pointer-events: none;
    width: 31%;
    margin: auto;
    display: none; 
}

#btndiv{
    padding-left: 0px;
}

#inputField{
    margin-top: 5em;
}

.mediaIcons img{
    display: inline-block;
    margin-right: 1em;
    width: 20px;
    height: 20px;
}